* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* コピペ用コード */
/*
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  color: white;
}

main button:hover {
  background-color: thistle;
}
*/
